{% extends 'main/layout.html' %}

{% block title%} Добавление модели {% endblock %}
{% block content %}
    {% if form.instance.id %}
        <h1>Форма обновления</h1>
    {% else %}
        <h1>Форма добавления</h1>
    {% endif %}

     <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.brand}}</br>
        {{form.model}}</br>
        {{form.price}}</br>
        {{form.description}}</br>
        {{form.data}}</br>
        {{form.image}}</br>

        {% if error %}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {% endif %}

    <button class = "btn btn-success" type="submit">
            {% if form.instance.id %} Обновить {% else %} Добавить {% endif %}
        </button>
            </form>
{% endblock %}
