{% extends 'main/layout.html' %}

{% block title%} Мыши {% endblock %}
{% block content %}
<h1>Мыши в наличии</h1>
    {% for product in products %}
        <div class = "alert alert-warning">
            <h3>{{product.brand}}</h3>
            <p>{{product.model}}</p>
             <p>{{product.price}}</p>
            <p>{{product.description | safe}}</p>
               <p><a href="{% url 'product_details' product.id %}" class="btn btn-warning">Открыть</a></p>
        </div>
    {% endfor %}
{% endblock %}
